Repository waijean/company_default: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, nbstripout

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        stages: [commit]
        language: system
        types: [python]

    - id: nbstripout
      name: nbstripout
      entry: nbstripout
      language: system
      files: ".ipynb"

add csv and html file type to gitignore
  .gitignore
Due: none

add pandas profiling nb
  .gitignore
  notebooks/pandas_profiling.ipynb
Due: nbstripout

edit README
  README.md
Due: none

edit README.md
  README.md
Due: none

add excel files (data dictionary) to gitignore
  .gitignore
Due: none

add ways of working on notebooks
  README.md
Due: none

redirect profile output to data folder
  notebooks/pandas_profiling.ipynb
Due: nbstripout

Feature/set up ways of working (#1)
  .gitignore
  README.md
  notebooks/pandas_profiling.ipynb
Due: nbstripout

some engineering and data checks
  notebooks/data_engineering_and_checks.ipynb
Due: nbstripout

Refactor
  notebooks/data_engineering_and_checks.ipynb
Due: nbstripout

add folder structure
  data_engineering/cmpny_bc_cls/__init__.py
  data_engineering/cmpny_bc_cls/utils/feature_imputation.py
  data_engineering/test/test_feature_imputation.py
Due: black

add the first imputation function with test
  data_engineering/cmpny_bc_cls/utils/feature_imputation.py
  data_engineering/test/test_feature_imputation.py
Due: black

add 2 more simple imputation with test
  data_engineering/cmpny_bc_cls/utils/feature_imputation.py
  data_engineering/test/test_feature_imputation.py
Due: black

add pipeline io and the skelenton of pipeline run
  data_engineering/cmpny_bc_cls/conf/parameters.yaml
  data_engineering/cmpny_bc_cls/pipeline.py
  data_engineering/cmpny_bc_cls/utils/pipeline_io.py
Due: black

add experiment raw values nb
  notebooks/experiment_raw_values.ipynb
Due: nbstripout

update folder structures
  data_engineering/cmpny_bc_cls/utils/pipeline_io.py
  data_engineering/conf/parameters.yaml
  data_engineering/pipeline_runner.py
Due: black

refactor folder structure
  data_engineering/pipeline_runner.py
  data_engineering/test/test_feature_imputation.py
  data_engineering/utils/__init__.py
  data_engineering/utils/feature_imputation.py
  data_engineering/utils/pipeline_io.py
Due: black

rm index column
  data_engineering/utils/pipeline_io.py
Due: black

model pipeline structure
  conf/parameters.yaml
  modeling/model_utils/__init__.py
  modeling/model_utils/model_pipeline_io.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
Due: black

minor change to nb
  notebooks/experiment_raw_values.ipynb
Due: nbstripout

add check liabilities nb
  notebooks/check_liabilities.ipynb
Due: nbstripout

add seaborn package
  requirements.txt
Due: none

minor change to check liabilities nb
  notebooks/check_liabilities.ipynb
Due: nbstripout

add check assets nb
  notebooks/check_assets.ipynb
Due: nbstripout

typo
  data_engineering/utils/feature_imputation.py
Due: black

Mvp feature impute && pipeline io (#2)
  conf/parameters.yaml
  data_engineering/pipeline_runner.py
  data_engineering/test/test_feature_imputation.py
  data_engineering/utils/__init__.py
  data_engineering/utils/feature_imputation.py
  data_engineering/utils/pipeline_io.py
  modeling/model_utils/__init__.py
  modeling/model_utils/model_pipeline_io.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
Due: black

Add preprocess functions, e.g. calculation, remove duplicates etc.
  data_engineering/preprocess.py
Due: black

add empty test_preprocess.py
  data_engineering/tests/test_preprocess.py
Due: black

refactor preprocess to different layers
  data_engineering/fourth_layer_derivation.py
  data_engineering/preprocess.py
  data_engineering/second_layer_derivation.py
  data_engineering/third_layer_derivation
Due: black

check working capital
  notebooks/check_assets.ipynb
Due: nbstripout

add data folder to gitignore
  .gitignore
Due: none

rename test dir
  data_engineering/tests/test_feature_imputation.py
Due: black

refactor derive dir
  data_engineering/derive/derive.py
  data_engineering/derive/fourth_layer_derivation.py
  data_engineering/derive/second_layer_derivation.py
  data_engineering/derive/third_layer_derivation
Due: black

add param yaml file to gitignore
  .gitignore
Due: none

add derive_pipeline_runner
  data_engineering/derive/derive.py
  data_engineering/derive/third_layer_derivation.py
  data_engineering/derive_pipeline_runner.py
  data_engineering/utils/pipeline_io.py
Due: black

rename bankruptcy label
  data_engineering/derive/derive.py
  data_engineering/derive_pipeline_runner.py
Due: black

import git package to get repo root
  data_engineering/utils/pipeline_io.py
Due: black

move derive files into utils dir
  data_engineering/derive_pipeline_runner.py
  data_engineering/utils/derive.py
  data_engineering/utils/fourth_layer_derivation.py
  data_engineering/utils/second_layer_derivation.py
  data_engineering/utils/third_layer_derivation.py
Due: black

combine into single pipeline
  data_engineering/derive_pipeline_runner.py
  data_engineering/pipeline_runner.py
  data_engineering/utils/derive.py
Due: black
