Repository waijean/company_default: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, nbstripout

black:
  name: black
  entry: black
  stages:
  - commit
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

use chained operations
  data_engineering/utils/fourth_layer_derivation.py
  data_engineering/utils/second_layer_derivation.py
  data_engineering/utils/third_layer_derivation.py
Due: black

extract drop null and drop duplicate to clean.py
  data_engineering/utils/clean.py
  data_engineering/utils/derive.py
Due: black

refactor files to dir for pipeline io
  conf/parameters.yaml
  data_engineering/pipeline_runner.py
  data_engineering/utils/pipeline_io.py
Due: black

update README with data directories
  README.md
Due: none

temp solution for model running
  data_engineering/pipeline_runner.py
  modeling/scripts/training_scoring.py
  requirements.txt
Due: black

Redefine output names
  data_engineering/utils/pipeline_io.py
Due: black

Delete empty script
  data_engineering/tests/test_preprocess.py
Due: black

Rename file for consistency
  data_engineering/pipeline_runner.py
  data_engineering/utils/other_derivation.py
Due: black

Add function to create output directory
  data_engineering/pipeline_runner.py
  data_engineering/utils/pipeline_io.py
Due: black

De/reverse ratios to raw features (#3)
  .gitignore
  README.md
  conf/parameters.yaml
  data_engineering/pipeline_runner.py
  data_engineering/tests/test_feature_imputation.py
  data_engineering/utils/clean.py
  data_engineering/utils/fourth_layer_derivation.py
  data_engineering/utils/other_derivation.py
  data_engineering/utils/pipeline_io.py
  data_engineering/utils/second_layer_derivation.py
  data_engineering/utils/third_layer_derivation.py
  notebooks/check_assets.ipynb
  notebooks/check_liabilities.ipynb
  notebooks/data_engineering_and_checks.ipynb
  notebooks/experiment_raw_values.ipynb
  requirements.txt
Due: black, nbstripout

add imbalanced learn to requirement.txt
  requirements.txt
Due: none

add metrics nb
  notebooks/metrics.ipynb
Due: nbstripout

fix modeling pipeline && add cv and other info
  data_engineering/pipeline_runner.py
  modeling/model_utils/model_pipeline_io.py
  modeling/scripts/training_scoring.py
Due: black

add logging conf
  conf/logging.conf
Due: none

add read cleaned ratio and cleaned raw to model pipeline io
  modeling/model_utils/model_pipeline_io.py
Due: black

set up mlrun
  modeling/cross_validate_runner.py
  modeling/model_utils/constants.py
  modeling/model_utils/mlrun.py
  modeling/model_utils/modeling.py
  modeling/model_utils/scoring.py
Due: black

add hyper para tuning script
  modeling/scripts/hyper_para_tuning.py
Due: black

fix feature importance bug
  modeling/cross_validate_runner.py
  modeling/model_utils/constants.py
  modeling/model_utils/mlrun.py
Due: black

set run id as tag
  modeling/cross_validate_runner.py
  modeling/model_utils/constants.py
  modeling/model_utils/mlrun.py
Due: black

set artifact location within the run folder
  modeling/cross_validate_runner.py
Due: black

add columns constants
  data_engineering/utils/constants.py
Due: black

add mlruns/.trash to gitignore
  .gitignore
Due: none

split train dev before cv
  modeling/cross_validate_runner.py
  modeling/model_utils/mlrun.py
Due: black

experiment different pipeline
  modeling/cross_validate_runner.py
Due: black

update README with mlruns
  README.md
Due: none

refactor modeling code && add drop duplicats in model pipeline
  data_engineering/utils/clean.py
  modeling/model_utils/drop_duplicate.py
  modeling/model_utils/model_pipeline_io.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
Due: black

add log function and refactor read_csv function
  data_engineering/pipeline_runner.py
  data_engineering/utils/pipeline_io.py
Due: black

remove unused constants
  modeling/model_utils/constants.py
Due: black

change default test size and random seed
  modeling/model_utils/modeling.py
Due: black

move cross validate runner into model utils
  modeling/model_utils/cross_validate_runner.py
Due: black

edit metrics nb
  notebooks/metrics.ipynb
Due: nbstripout

change interest derivation
  data_engineering/utils/fourth_layer_derivation.py
  data_engineering/utils/third_layer_derivation.py
Due: black

add check interest nb
  notebooks/check_interest.ipynb
Due: nbstripout

edit pandas profiling nb
  notebooks/pandas_profiling.ipynb
Due: nbstripout

fix nb mistake
  notebooks/check_interest.ipynb
Due: nbstripout

Refactor IO pipeline
  data_engineering/pipeline_runner.py
  data_engineering/utils/pipeline_io.py
Due: black

Refactor engineering functions and pipeline
  data_engineering/pipeline_runner.py
  data_engineering/utils/clean.py
  data_engineering/utils/feature_engineering.py
  data_engineering/utils/feature_imputation.py
Due: black

Fix tests
  data_engineering/tests/test_feature_imputation.py
Due: black

Quick fix
  data_engineering/pipeline_runner.py
Due: black

Path conditions:
  black: any of: \.py$
  nbstripout: any of: .ipynb
