Repository waijean/company_default: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, nbstripout

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        stages: [commit]
        language: system
        types: [python]

    - id: nbstripout
      name: nbstripout
      entry: nbstripout
      language: system
      files: ".ipynb"

add mlrun dir to gitignore
  .gitignore
Due: none

add col trans param to CrossValidatePipeline
  modeling/model_utils/cross_validate_runner.py
  modeling/model_utils/mlrun.py
  modeling/model_utils/modeling.py
Due: black

De/change interest derivation (#6)
  data_engineering/utils/fourth_layer_derivation.py
  data_engineering/utils/third_layer_derivation.py
  notebooks/check_interest.ipynb
  notebooks/pandas_profiling.ipynb
Due: black, nbstripout

Ds/mlruns (#5)
  .gitignore
  README.md
  conf/logging.conf
  data_engineering/utils/constants.py
  modeling/model_utils/constants.py
  modeling/model_utils/cross_validate_runner.py
  modeling/model_utils/mlrun.py
  modeling/model_utils/model_pipeline_io.py
  modeling/model_utils/modeling.py
  modeling/model_utils/scoring.py
  notebooks/metrics.ipynb
  requirements.txt
Due: black, nbstripout

random seed && pipeline bug && skewed data process
  data_engineering/pipeline_runner.py
  data_engineering/utils/preprocessing.py
  modeling/scripts/training_scoring.py
Due: black

change cvs file names into variables
  modeling/scripts/training_scoring.py
Due: black

change sampling strategy
  modeling/scripts/training_scoring.py
Due: black

add one runner script && modify scoring
  modeling/model_utils/model_pipeline_io.py
Due: black

add one runner script && modify scoring
  modeling/model_runner.py
  modeling/model_utils/hyperparameter_const.py
Due: black

Refactor
  data_engineering/pipeline_runner.py
  data_engineering/utils/feature_engineering.py
Due: black

De/refactor de pipeline (#7)
  data_engineering/pipeline_runner.py
  data_engineering/tests/test_feature_imputation.py
  data_engineering/utils/clean.py
  data_engineering/utils/feature_engineering.py
  data_engineering/utils/feature_imputation.py
  data_engineering/utils/pipeline_io.py
Due: black

temp
  data_engineering/pipeline_runner.py
  modeling/model_runner.py
  modeling/scripts/training_scoring.py
Due: black

merge master and fix data issues
  data_engineering/pipeline_runner.py
  data_engineering/utils/pipeline_io.py
  modeling/model_runner.py
Due: black

fix pipeline
  data_engineering/pipeline_runner.py
  data_engineering/utils/feature_engineering.py
  modeling/model_runner.py
Due: black

Mvp model pipeline and hyperpara tunning (#4)
  data_engineering/pipeline_runner.py
  data_engineering/utils/feature_engineering.py
  data_engineering/utils/preprocessing.py
  modeling/model_runner.py
  modeling/model_utils/drop_duplicate.py
  modeling/model_utils/hyperparameter_const.py
  modeling/model_utils/model_pipeline_io.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
  requirements.txt
Due: black

modeling part
  data_engineering/pipeline_runner.py
  modeling/model_runner.py
  modeling/model_utils/constants.py
  modeling/model_utils/hyperparameter_const.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
Due: black

Mvp model pipeline and hyperpara tunning (#8)
  data_engineering/pipeline_runner.py
  modeling/model_runner.py
  modeling/model_utils/constants.py
  modeling/model_utils/hyperparameter_const.py
  modeling/scripts/hyper_para_tuning.py
  modeling/scripts/training_scoring.py
Due: black

Squashed commit of the following: *remove nbstripout
  .pre-commit-config.yaml
  README.md
  conf/parameters.yaml
  conf/tables.py
  data_engineering/pipeline_runner.py
  data_engineering/preprocessing_runner.py
  data_engineering/reverse_engineer/fourth_layer_derivation.py
  data_engineering/reverse_engineer/other_derivation.py
  data_engineering/reverse_engineer/second_layer_derivation.py
  data_engineering/reverse_engineer/third_layer_derivation.py
  data_engineering/utils/feature_engineering.py
  data_engineering/utils/preprocessing.py
  environment.yml
  modeling/config/constants.py
  modeling/config/hyperparameter_const.py
  modeling/mlrun/cross_validate_runner.py
  modeling/mlrun/mlrun.py
  modeling/mlrun/modeling.py
  modeling/mlrun/scoring.py
  modeling/model_runner.py
  modeling/scripts/model_runner.py
  modeling/scripts/model_training.py
  modeling/scripts/random_search.py
  modeling/scripts/training_scoring.py
  modeling/utils/__init__.py
  modeling/utils/drop_duplicate.py
  modeling/utils/model_pipeline_io.py
  requirements.txt
Due: black

refactor modeling dir
  modeling/backtesting_runner.py
  modeling/mlrun/cross_validate_runner.py
  modeling/model_runner.py
  modeling/random_search.py
  modeling/scripts/model_training.py
  modeling/utils/model_pipeline_io.py
  modeling/utils/processing.py
Due: black

update model_runner
  modeling/backtesting_runner.py
  modeling/config/hyperparameter.py
  modeling/model_runner.py
  modeling/random_search.py
Due: black

add clustering runner
  modeling/clustering_runner.py
  modeling/random_search_runner.py
Due: black

convert notebook to script
  modeling/utils/pandas_profiling.py
  notebooks/pandas_profiling.ipynb
Due: black, nbstripout

refactor notebooks
  README.md
  data_engineering/README.md
  data_engineering/preprocessing_runner.py
  data_engineering/tests/test_feature_imputation.py
  modeling/README.md
  modeling/experiments/clustering_runner.py
  notebooks/metrics.ipynb
Due: black, nbstripout

refactor backtesting runner
  modeling/backtesting_runner.py
  modeling/experiments/clustering_runner.py
Due: black

add diagnosis runner
  modeling/diagnosis.py
Due: black

update seaborn
  environment.yml
Due: none

remove parameters.yaml file
  .gitignore
  conf/parameters.yaml
  data_engineering/utils/pipeline_io.py
  modeling/diagnosis.py
  modeling/utils/model_pipeline_io.py
Due: black

update README
  README.md
Due: none

add eda notebook
  notebooks/check_assets.ipynb
  notebooks/check_interest.ipynb
  notebooks/check_liabilities.ipynb
  notebooks/data_engineering_and_checks.ipynb
  notebooks/experiment_raw_values.ipynb
  notebooks/exploratory_data_analysis.ipynb
Due: nbstripout

add notebooks
  notebooks/diagnosis.py
  notebooks/exploratory_data_analysis.ipynb
  notebooks/minimum_viable_model.ipynb
Due: black, nbstripout

edit notebooks
  notebooks/diagnosis.py
  notebooks/minimum_viable_model.ipynb
Due: black, nbstripout

edit notebook
  notebooks/minimum_viable_model.ipynb
Due: nbstripout

edit reverse engineer
  data_engineering/reverse_engineer/third_layer_derivation.py
  environment.yml
Due: black

update pipeline
  data_engineering/preprocessing_runner.py
  data_engineering/utils/preprocessing.py
  notebooks/exploratory_data_analysis.ipynb
  notebooks/feature_engineering.ipynb
  notebooks/minimum_viable_model.ipynb
Due: black, nbstripout

remove mlrun code
  modeling/README.md
  modeling/mlrun/cross_validate_runner.py
  modeling/mlrun/mlrun.py
  modeling/mlrun/modeling.py
  modeling/mlrun/scoring.py
Due: black
